html, body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.homepage-container{
    
    background-color: #121212;
    color: #fff;
    padding-top: 5%; /* add some top padding */
    padding-bottom: 5%; /* add some bottom padding */
      
      
    
}


.section {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 10px;
    height: 80%;
    min-height: 100vh;
}
 .firstHalf ul{
    list-style: circle;
}
.firstHalf h1{
    
    margin-bottom: -15%;
}
.text-small{
        padding-left: 20px;
        padding-right: 20px;
}
.text-big{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}
.homepageImage {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .homepageImage img {
    max-width: 50%;
    max-height: 20%;
  }
  
  


