html, body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.homepage-container{
    
    background-color: #121212;
    color: #fff;
    padding-top: 20%; /* add some top padding */
    padding-bottom: 30%; /* add some bottom padding */
      
      
    
}


.section {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: auto;
    height: 80%;
}
 .firstHalf ul{
    list-style: circle;
}
.firstHalf h1{
    
    margin-bottom: -15%;
}
.text-small{
        padding-left: 20px;
        padding-right: 20px;
}
.text-big{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}
img {
    max-width: 100%;
    height: auto;
  }
  