.footer-container{
    text-align: left;
    max-width: flex;
    padding: 20px 70px;
    justify-content: space-between;
    border-top: 1px solid #6DA9E4;
    align-items: center;
    background-color: #121212;
    min-height: 20vh;
    flex-direction: column;
}
.footer-links{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 100px;
    color: #fff;
}

.footer-link-items{
    width: 25%;
    
}

.footer-link-items a{
    display: block;
    color: #fff;
}
a{
    list-style: none;
    color: #fff;
    
}

.social-media-wrap{
    padding: none;
}

.social-icons{
    display:flex;
    justify-content: space-around;
    transform: scale(1.5);

    width: 100%;
    align-items: center;
    color: #fff;
}

.footer-est{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    align-content: center;
    color: #fff;
}