html, body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.BigText-container{
    padding-top: 0px;
    background-color: #121212;
    color: #fff;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: auto;
    height: 80%;
}
 .firstHalf ul{
    list-style: circle;
    
}

.text-small{
        padding-left: 20px;
        padding-right: 20px;
}